/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --min-width: 100vi;
  --max-width: 700px;

  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';

  --font-weight-main: 400;
  --font-weight-title: 700;

  --main-font-size: 18px;
  --additional-font-size: 14px;

  --background-color: #fff;
  --text-color: #000;
  --stroke-color: var(--background-color);
  --button-text-color: var(--background-color);

  --heart-contour-color: var(--text-color);
  --heart-sparks-color: #ff0000;

  --backdrop-color: rgba(0, 0, 0, 0.75);

  --background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
                      repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
                      linear-gradient(#e7e7e7 0 0.01%, #004306 100%);
}